<?xml version="1.0" encoding="utf-8"?>
<!--
   Androzic - android navigation client that uses OziExplorer maps (ozf2, ozfx3).
   Copyright (C) 2010-2014  Andrey Novikov <http://andreynovikov.info/>
  
   This file is part of Androzic application.
  
   Androzic is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Androzic is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Androzic.  If not, see <http://www.gnu.org/licenses/>.


-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androzic"
    android:installLocation="auto" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <permission
        android:name="com.androzic.permission.RECEIVE_LOCATION"
        android:description="@string/perm_location_description"
        android:icon="@drawable/icon"
        android:label="@string/perm_location_title"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.androzic.permission.RECEIVE_TRACK"
        android:description="@string/perm_tracking_description"
        android:icon="@drawable/icon"
        android:label="@string/perm_tracking_title"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.androzic.permission.NAVIGATION"
        android:description="@string/perm_navigation_description"
        android:icon="@drawable/icon"
        android:label="@string/perm_navigation_title"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.androzic.permission.READ_PREFERENCES"
        android:label="@string/perm_read_preferences_title"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.androzic.permission.READ_MAP_DATA"
        android:label="@string/perm_read_map_data_title"
        android:protectionLevel="dangerous" />
    <permission
        android:name="com.androzic.permission.WRITE_MAP_DATA"
        android:label="@string/perm_write_map_data_title"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.androzic.permission.RECEIVE_LOCATION" />
    <uses-permission android:name="com.androzic.permission.RECEIVE_TRACK" />
    <uses-permission android:name="com.androzic.permission.NAVIGATION" />

    <application
        android:name=".Androzic"
        android:allowBackup="true"
        android:backupAgent="Backup"
        android:description="@string/homepage"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:restoreAnyVersion="true"
        android:theme="@style/Theme.Application" >
        <activity
            android:name=".Splash"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".ExternalActions"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.androzic.PLOT_ROUTE" />
                <action android:name="com.google.android.radar.SHOW_RADAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="geo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchableActivity"
            android:exported="true"
            android:label="@string/search_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".HSIActivity"
            android:label="@string/hsi_name" />
        <activity
            android:name=".ErrorDialog"
            android:theme="@style/Dialog" />
        <activity
            android:name=".ui.MarkerPickerActivity"
            android:exported="true"
            android:label="@string/markericon_name"
            android:theme="@style/Dialog" >
            <intent-filter>
                <action android:name="com.androzic.PICK_ICON" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".waypoint.WaypointFileLoad"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.wpt" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.kml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gpx" />
            </intent-filter>
        </activity>
        <activity
            android:name=".waypoint.CoordinatesReceived"
            android:label="@string/coordinates_name"
            android:theme="@style/Dialog" />

        <receiver
            android:name="ActionsReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.androzic.COORDINATES_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.androzic.CENTER_ON_COORDINATES" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".LocationWidget"
            android:icon="@drawable/icon"
            android:label="@string/widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/location_widget" />
        </receiver>

        <provider
            android:name=".provider.PreferencesProvider"
            android:authorities="com.androzic.PreferencesProvider"
            android:exported="true"
            android:readPermission="com.androzic.permission.READ_PREFERENCES" />
        <provider
            android:name=".provider.DataProvider"
            android:authorities="com.androzic.DataProvider"
            android:exported="true"
            android:readPermission="com.androzic.permission.READ_MAP_DATA"
            android:writePermission="com.androzic.permission.WRITE_MAP_DATA" />
        <provider
            android:name=".provider.SuggestionProvider"
            android:authorities="com.androzic.SuggestionProvider"
            android:exported="false" />

        <service
            android:name=".location.LocationService"
            android:exported="true"
            android:icon="@drawable/icon"
            android:permission="com.androzic.permission.RECEIVE_LOCATION" >
            <intent-filter>
                <action android:name="com.androzic.location" />
                <action android:name="com.androzic.location.ILocationRemoteService" />
            </intent-filter>
        </service>
        <service
            android:name=".navigation.NavigationService"
            android:exported="true"
            android:icon="@drawable/icon"
            android:permission="com.androzic.permission.NAVIGATION" >
            <intent-filter>
                <action android:name="com.androzic.navigateMapObjectWithId" />
                <action android:name="com.androzic.navigateMapObject" />
                <action android:name="com.androzic.navigateRoute" />
            </intent-filter>
        </service>
        <service
            android:name=".WidgetService"
            android:icon="@drawable/widget_icon"
            android:process=":widget" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIQMCPbh1CGZy5QovaZA_o6cJgv-SaYlYVxGQ5MQ" />
    </application>

</manifest>